# API Keys (Non-Vite variables are for functions/backend)
#
# Media Discovery
FANART_API_KEY=
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
TASTEDIVE_API_KEY=
WATCHMODE_API_KEY=
OMDB_API_KEY=

# Sports Intelligence
SPORTMONKS_KEY=
APISPORTS_KEY=
SCOREBAT_TOKEN=

# Streaming Infrastructure
RAPIDAPI_KEY=
